<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<!-- Add log4net config section-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="Logs\" />
			<datePattern value="dd.MM.yyyy'.txt'" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<connectionStrings>
		<add name="AccessDBConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Vinod\Aviationdb.mdb; Persist Security Info=False;" providerName="System.Data.OleDb" />
		<add name="SQLDBConnection" connectionString="Data source = 10.131.98.20; Initial Catalog = AFSNOC_DB_UAT; User ID =dmsdb ; password =Ril@1234;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>